// Custom Colors
$light-purple: #8807F7;
$dark-purple: #240053;
$light-blue: #3D0072;
$light-pink: #E8356D;

$primary: $light-purple;
$secondary: $dark-purple;

@import "/node_modules/bootstrap/scss/bootstrap";