// Custom Colors
$light-purple: #8807F7;
$dark-purple: #240053;
$light-blue: #3D0072;
$light-pink: #E8356D;

$primary: $light-purple;
$secondary: $dark-purple;

.navbar-light .navbar-toggler-icon {
    background-image: url("/assets/mobile-nav.svg");
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("/assets/mobile-nav.svg");
}

.nav-link {
    color: #FFF !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}


.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

$custom-breakpoint-small: 576px;
$custom-breakpoint-medium: 768px;
$custom-breakpoint-large: 992px;

@mixin media-query($custom-breakpoint) {
    @media only screen and (max-width: $custom-breakpoint) {
        @content;
    }
}

$navbar-toggler-focus-width: 1;

//Accordion
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-icon: url("/assets/plus.svg");
$accordion-icon-width: 1.8rem;
$accordion-padding-y: 1.7rem;
$accordion-padding-x: 1.7rem;

@import "/node_modules/bootstrap/scss/bootstrap";