@use './custom' as *;

main {
    background: url('/assets/background.svg') no-repeat center center/cover;
    margin-top: 5rem;

    @include media-query($custom-breakpoint-medium) {
        margin-top: 3rem;
    }

    .container {

        .row {

            .hero-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-bottom: 3rem;
                text-align: center;

                @include media-query($custom-breakpoint-medium) {
                    gap: 1.5rem;
                }

                h1 {
                    font-size: 6rem;
                    background: linear-gradient(91.7deg, #FFEB35 7.5%, rgba(25, 253, 130, 0.99) 107.24%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;

                    @include media-query($custom-breakpoint-medium) {
                        font-size: 2.5rem;
                    }
                }

                button {
                    background: #fff;
                    color: $primary;
                    border: none;
                    padding: .5rem 1rem;

                    &:hover {
                        background: $primary;
                        color: #fff;
                        border: 1px solid $primary;
                    }
                }
            }

            .hero-img {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}