@use './custom' as *;

.transparency {
    padding-top: 5rem;
    background: #FFF;

    @include media-query($custom-breakpoint-medium) {
        padding-top: 3rem;
    }

    .container {

        .row {

            .col {

                &.transparency-text {
                    padding: 2rem;

                    h1 {
                        font-weight: 800;
                        font-size: 5rem;
                        line-height: 5rem;
                        color: $light-blue;

                        @include media-query($custom-breakpoint-medium) {
                            font-size: 2.5rem;
                            line-height: 3rem;
                        }

                        span {
                            color: $light-pink;
                            display: block;
                        }
                    }

                    p {
                        font-weight: 500;
                        font-size: 1.1rem;
                        line-height: 2.5rem;
                        color: $light-blue;
                        margin: 2rem 0;

                        @include media-query($custom-breakpoint-medium) {
                            font-size: 1rem;
                            line-height: 1.2rem;
                            margin: 1.5rem 0;
                        }
                    }

                    button {
                        background: $primary;
                        color: #FFF;
                        border: none;
                        padding: .5rem 1rem;

                        &:hover {
                            background: #FFF;
                            color: $primary;
                            border: 1px solid $primary;
                        }
                    }
                }

                &.calculator {
                    background: url('/assets/calculator-bg.svg') no-repeat center center/cover;
                    border-radius: 20px;
                    z-index: 100;
                    padding: 3rem 2rem 0 2rem;

                    @include media-query($custom-breakpoint-medium) {
                        padding: 2rem 1rem 0 1rem;
                    }

                    .calculator-form {
                        margin-bottom: 3rem;

                        h2 {
                            font-weight: 700;
                            font-size: 2rem;
                            line-height: 3rem;
                            color: #FFF;
                            margin-bottom: 3rem;

                            @include media-query($custom-breakpoint-medium) {
                                font-size: 1.5rem;
                                line-height: 2rem;
                                margin-bottom: 1.5rem;
                            }
                        }

                        .form-group {
                            margin-bottom: 1.5rem;

                            @include media-query($custom-breakpoint-medium) {
                                margin-bottom: 1rem;
                            }
                        }

                        .form-label {
                            font-weight: 500;
                            font-size: 1rem;
                            color: #9CA3AF;
                        }

                        .custom-select {
                            border-bottom: 1px solid #ffffff;
                            color: #ffffff;
                            outline: none !important;
                        }

                        .form-control {
                            border-bottom: 1px solid #ffffff;
                            color: #ffffff;
                            outline: none !important;

                            &::placeholder {
                                color: #ffffff;
                            }
                        }

                        .custom-select:focus,
                        .form-control:focus {
                            outline: none !important;
                        }
                    }

                    .calculator-graph {
                        align-self: flex-end;

                        img {
                            width: 100%;

                            @include media-query($custom-breakpoint-medium) {
                                min-width: 15rem;
                            }
                        }
                    }
                }
            }
        }
    }
}