@use 'custom';

@use 'header';
@use 'main';
@use 'product';
@use 'transparency';
@use 'invest';
@use 'access';
@use 'web';
@use 'testimonial';
@use 'traction';
@use 'footer';

@use 'interest';


@import "custom";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}